/*                                       Aplicação de fontes                                                                */

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }
.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

.plus-jakarta-sans-conectaONGs {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-conectaONGs {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*                                       Estilização da página                                                                               */
:root{
  font-size: 62.5%;
}


/* cores:   #0d2749  #00a5bd #f1f0ed #ffffff #ff5678 */



body{
  margin: 0;
  /* border: none; */
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

#home{
  background-color: aquamarine;
}

#entidades {
  background-color: crimson;
}

#cadastro{
  background-color: seagreen;

}

#nova-categoria{
  background-color: blueviolet;
}

/*                                       Barra de navegação                                                                               */
nav{
  background-color: #ff5678;
  padding: 1em 1em 0.8em 1em;
  display: flex;
  justify-content: space-between;
}

nav .content{ 
  font-family: "Quicksand", serif;
  font-size: 2em;
  font-weight: 900;
  /* border: 5px solid blueviolet; */
  text-decoration: solid;
  /* TODO reaprender a usar grid  */
}

nav .portifolio{
  font-family: "Rubik Vinyl", serif;
  font-size: 2em;
  text-decoration: solid;
  font-weight: 600;
  margin-left: 45%;
  /* align-self: flex-end; */
}


main{
  /* width: 100%; */
  text-align: center;
  /* background-color: darkkhaki; */
}

/*                                        Home                                                                              */
#home{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(/images/main.jpg); /* TODO verificar */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 8%;
}

#home  .explicacoes{
  width: 45%;
  /* border: 4px solid salmon; */

}

#home .explicacoes header{
  border-bottom: 1px solid #ff5678;
}

#home .explicacoes header h2{
  font-family: "Plus Jakarta Sans", serif;
  font-size: 3em;
}

#home .explicacoes main p{
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  text-align: justify;
}

#home .explicacoes .redes-ada{
  /* border: 4px solid cornflowerblue; */
  display: flex;
  height:auto;
  justify-content: space-evenly;
  align-items: center;
}

#home .explicacoes .redes-ada .icone-rede-ada{
  font-size: 1.5em;
}

#home .explicacoes .redes-ada .icone-rede-ada img{
  height: 4em;
  width: 4em;
}

#home .explicacoes .redes-ada .icone-rede-ada h3{
  margin-bottom: 0.4em;
}

#home .explicacoes footer {
  text-align: center;
}

/*                                        Entidades                                                                               */

#Entidades{
  display: flex;
  /* background-color: lightgray; */
}

#Entidades section{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Entidades .lista-entidades{
  background-color: #ff5678;
}

