body{
  background-color: var(--bg-color);
  font-family: var(--ubuntu);
}

/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Barra de navegação    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~    */
header{
  background-color: var(--main-color);
  padding: 2.4rem;
}

header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul{ 
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  align-items: center;
}

header nav ul li a{
  padding: 1rem;
  position: relative;
  border-radius: 8px;
  font-family: var(--quicksand);
  font-size: 2.4rem;
  text-decoration: none;
  font-weight: 900;
  color: var(--text-color-light);
  display: inline-block;
  transform: scale(1);
  transition: all var(--transition);
  filter: drop-shadow(0 0 10px var(--secondary-color));

  &:hover, &:focus{
    outline: none;
    transform: scale(1.1);
    background-color: var(--alternative-color);
    background: linear-gradient(45deg, var(--alternative-color) 0%, var(--secondary-color) 100%); 
  }
}


header nav #portifolio{
  font-family: var(--rubik-vinyl);
  font-size: 2.8rem;
  text-decoration: none;
  font-weight: 900;
  color: var(--text-color-light);
  transition: all var(--transition);

  &:hover, &:focus{
    outline: none;
    color: var(--element-color);
    transform: scale(1.1);
  }

  
}

header nav .mobile-nav{
  display: none;
}

header nav .mobile-nav .btn-nav{
  background: transparent;
  border: none;
  font-size: 4rem;
  border-radius: 50%;
  padding: 3rem;
  color: var(--text-color-light);
  cursor: pointer;

  &:hover{
    outline: none;
    border:  3px solid  rgba(255,255,255,0.6);
  }

  &:active{
    border: none;
  }
}

header .mobile-nav .mobile-menu{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 8rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin: 1rem 0;
}

header .mobile-nav .mobile-menu ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
}


/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Home    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     */

#home{
  background: linear-gradient(0deg, var(--secondary-color) 0%, var(--main-color) 100%) ;
  padding: 2rem;
  color: var(--text-color-light);
  font-size: 1.6rem; 
  gap: 5rem;
  display: grid;
  align-items: center;
  grid-template-areas: 
  " title  title"
  "carrossel  p1"
  "exp p2";
}

#home  h1{
  border-bottom: 5px solid var(--element-color);
  font-family: var(--jakarta);
  font-size: 2.4em;
  font-weight: 700;
  grid-area: title;
  text-align: center;
  margin: 3rem 12rem 3rem 12rem;
  padding: 1rem;
  color: var(--text-color-light);
}

#home h1 span{
  color: var(--element-color);
}

#home  p{
  font-weight: 400;
  font-size: 1em;
  padding: 3em;
  text-align: justify;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  line-height: 2;
}

#home  p a{
  color: var(--text-color-light);
  border-radius: 8px;
  padding: 0.5rem;
  text-decoration: none;
  box-sizing: content-box;
  font-weight: 700;
  font-family: var(--quicksand);
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  transform: scale(1);
  transition: var(--transition) ;
  background-color: white;
  color: var(--main-color);
  border: 1px solid var(--main-color);

  &:hover, &:focus{
    outline: none;
    transform: translateY(-8px);
    border: 1px solid var(--element-color);
  }
  &:active{
    transform: translateY(0);
    border: 1px solid var(--main-color);
  }

}


#home #objetivos{
  grid-area: p1;
}

#home #creditos{
  grid-area: p2
}


#home .carrossel{
  grid-area: carrossel;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  height: auto;

}

#home .carrossel .carrossel-container{
  display: flex;
  transition: all var(--transition);
  background: transparent;
}

#home .carrossel .carrossel-container .carrossel-slide{
  min-width: 100%;
  box-sizing: border-box;
}

#home .carrossel .carrossel-container .carrossel-slide img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#home .carrossel .carrossel-btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.carrossel-btn.prev{
  left: 1rem;
}

.carrossel-btn.next{
  right: 1rem;
}

.carrossel figcaption{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.4em;
}



#home  .explicacoes{
  grid-area: exp;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  padding: 1rem;

}

#home .explicacoes h2{
  font-size: 1.8em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: var(--jakarta);
  color: var(--text-color-light);
  text-shadow: var(--box-shadow);
}

#home .explicacoes .redes{
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

#home .explicacoes .redes .icone-rede-ada{
  font-size: 1.2em;
  color: var(--text-color-light);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all var(--transition);

  &:hover, &:focus{
    outline: none;
    transform: scale(1.1);
  }

  &:visited{
    color: red;
  }

}

#home .explicacoes .redes .icone-rede-ada img{
  height: 3rem;
  width: 3rem;
  border-radius: 4px;
  margin: 1.5rem 0 1rem 0;
  transition: all var(--transition);
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

#home .explicacoes .redes .icone-rede-ada a{
  color: var(--text-color-light);
  font-size: 1.2em;
  font-weight: 700;
  background-color: transparent;
}






/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Entidades    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     */


#entidades{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(0,165,189);
  background-image: url(/images/ong.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 6rem ;
  font-size: 1.4rem;
  gap: 8rem;
  height: 100vh;
  scroll-behavior: smooth;
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);

}

#entidades .explicacao-entidades{
  position: relative;
  border-radius: 2rem;
  padding: 2rem 3rem;  
  text-align: justify;
  box-shadow: var(--box-shadow);
  max-width: 40rem;
}

#entidades .explicacao-entidades p{
  font-size: 1em;
  font-weight: 500;
  color: var(--text-color-light);
  line-height: 1.5;
  text-shadow: var(--box-shadow);
  border-radius: 20px;
  padding: 1rem;
  z-index: 1;
  position: relative;
}


#entidades .lista-entidades{
  width: 35vw;
}

#entidades  .veja-entidades{
  display: flex;
  position: relative;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  z-index: 1;
  transition: all var(--transition);
}


#entidades .btn-entidades{
  position: relative;
  text-align: center;
  padding: 2rem;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  font-size: 1.5em;
  font-family: var(--quicksand);
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: var(--box-shadow);
  border-radius: 2rem 2rem 0 0;
  box-shadow: var(--box-shadow);
  z-index: 1;
  width: 100%;
  transition: all var(--transition);

  &:hover, &:focus{
    outline: none;
    transform: translateY(0);
    background-color: var(--main-color);
  }

  &:active{
    background-color: var(--secondary-color);
  }

}

#entidades .btn-entidades span{
  margin: 0 1rem;
}

#entidades .entidades-cadastradas{
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  transition: all var(--transition);

}


#entidades .entidades-cadastradas input{

  font-weight: 700;
  color: var(--element-color);
  text-align: center;
  text-transform:lowercase;
  font-family: var(--ubuntu);
  margin: 1rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
  position: relative;
  border-radius: 4rem;
  padding: 1rem;
  border: none;
  background-color: var(--bg-color);
  opacity: 0.5;
  transition: all var(--transition);
  
  &:hover, &:focus{
    outline: none;
    border: none;
    opacity: 1;
  }

  &::placeholder{
    color: var(--text-color-dark);
  
    font-weight: 700;
    text-align: center;
    text-decoration: wavy;
    font-family: var(--ubuntu);
    margin-bottom: 1rem;
    z-index: 1;
    position: relative;
    background-color: transparent;
    border-radius: 4rem;
    padding: 1rem;
    border: none;
  }

}

#entidades .entidades-cadastradas .entidades-cadastradas-lista{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2.5rem;
  max-height: 55vh;
  padding:  1rem 0;
  margin: 0 2rem 2rem 2rem;
  background-color: transparent;
  box-shadow: var(--box-shadow);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: var(--element-color) transparent;
  scrollbar-width: thin;
  scrollbar-arrow-color: var(--element-color);

  &::-webkit-scrollbar{
    width: 10px;
  }

  &::-webkit-scrollbar-thumb{
    background: var(--element-color);
    border-radius: 10px;
  }
}

#entidades .entidades-cadastradas .entidades-cadastradas-lista .entidade{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  transition: all var(--transition);
  background-color: rgba(255, 255, 255, 0.2);
}

#entidades .entidades-cadastradas-lista .entidade header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0;
  gap: 2rem;
  height: 36px;
  /* border: 3px solid rgba(255, 255, 255, 0.6); */
}

#entidades .entidades-cadastradas-lista .entidade header h4{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--text-color-light);
  text-align: start;
  text-transform: capitalize;
  font-family: var(--jakarta);
  padding: 1rem;
  width: 100px;
  overflow: hidden;

}

#entidades .entidades-cadastradas-lista .entidade header img{
  width: 36px;
  height: 36px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(255, 255, 255, 0.6);  
}

#entidades .entidades-cadastradas-lista .entidade main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  width: 100%;
}

#entidades .entidades-cadastradas-lista .entidade main button{
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: var(--secondary-color);
  font-size: 0.8em;
  transition: var(--transition);
  
  &:hover, &:focus{
    outline: none;
    border: 2px solid var(--main-color);
    transform: none;
    color: var(--main-color);
  }

  &:active{
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
  }
}

#entidades .entidades-cadastradas-lista .entidade main a{
  border-radius: 1rem;
  padding: 0.5rem;
  /* color: var(--element-color); */
  font-size: 0.8em;
  transition: var(--transition);
  background-color: rgba(255, 255, 255, 0.6);

  &:hover, &:focus{
    outline: none;
    transform: none;
    color: var(--main-color);
  }

  &:visited{
    color: var(--element-color);
  }

}



/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Nova Ong    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     */

#nova-ong{
  display: grid;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(0deg, var(--bg-color) 0%, var(--secondary-color) 100%) ;
  font-size: 1.2rem;
  padding: 2rem;
  grid-template-areas: 
  ". titulo titulo titulo ."
  ". formulario . imagem ."
  ". formulario . imagem ."
  ;

}

#nova-ong  h2{
  grid-area: titulo;
  font-size: 2em;
  font-weight: 700;
  color: var(--text-color-light);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--jakarta);
  text-shadow: var(--box-shadow);
  padding: 4rem;
}

#nova-ong div{
  grid-area: formulario;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

#nova-ong div form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 3.5rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  background-color: rgba(0, 0, 0, 0.6);
  box-sizing: content-box;
}

#nova-ong div form input{
  font-weight: 700;
  color: var(--element-color);
  text-align: start;
  text-transform:lowercase;
  width: 80%;
  align-self: flex-start;
  box-shadow: var(--box-shadow);
  z-index: 1;
  position: relative;
  border-radius: 4rem;
  padding: 1rem;
  border: none;
  background-color: var(--bg-color);
  opacity: 0.5;
  transition: all var(--transition);
  overflow: auto;
  
  &:hover, &:focus{
    outline: none;
    opacity: 1;
  }

  &::placeholder{
    color: var(--text-color-dark);
    font-weight: 700;
    text-align: center;
    z-index: 1;
    position: relative;
    background-color: transparent;
    border-radius: 4rem;
    padding: 1rem;
  }
}



#nova-ong div form label{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--text-color-light);
  align-self: start;
  text-transform: capitalize;
  font-family: var(--jakarta);
  padding: 1rem;

}

#nova-ong div form select{
  color: var(--element-color);
  text-align: start;
  align-self: flex-start;
  width: 50%;
  box-shadow: var(--box-shadow);
  z-index: 1;
  position: relative;
  border-radius: 4rem;
  padding: 1rem;
  border: none;
  background-color: var(--bg-color);
  opacity: 0.5;
  transition: all var(--transition);
  overflow: scroll;
  max-height: 30vh;
  cursor: pointer;

  
  &:hover, &:focus{
    outline: none;
    opacity: 1;

  }
}

#nova-ong div form select option{
  margin: 1rem;
  padding: 0 auto;

}

#nova-ong div form button{
  position: relative;
  text-align: center;
  padding: 2rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  font-size: 1.5em;
  font-family: var(--quicksand);
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: var(--box-shadow);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  z-index: 1;

  transition: all var(--transition);

  &:hover, &:focus{
    outline: none;
    transform: translateY(0);
    background-color: var(--element-color);
  }

  &:active{
    background-color: var(--secondary-color);
  }

}


#nova-ong figure{
  grid-area: imagem;
  border-radius: 4rem;
  box-shadow: var(--box-shadow);
  width: 45rem;
  height: 30rem;
  overflow: hidden;
  z-index: 1;
  position: relative; 
  box-shadow: var(--box-shadow);
}

#nova-ong figure figcaption{
  position: absolute; 
  bottom: 0; 
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 0.8em;
  z-index: 2;
  width: 100%;
}


/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Categorias    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     */

#categorias{
  font-size: 1.6rem;
  text-align: center;
  background: linear-gradient(0deg, var(--element-color) 0%, var(--bg-color) 100%);
  padding: 4rem;
}

#categorias h2{
  font-size: 2em;
  font-family: var(--quicksand);
  font-weight: 900;
  color: var(--text-color-dark);
  text-transform: uppercase;
}

#categorias .lista-categorias{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem 30rem;
  flex-flow: wrap;
}

#categorias .lista-categorias .categorias{
  flex: 0 0 auto;
  background-color:  transparent;
  padding: 3rem 1rem;
  border-radius: 1rem;

}

#categorias .lista-categorias .categorias a{
  background-color: var(--main-color);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  color: var(--text-color-light);

  &:hover, &:focus{
    outline: none;
    background-color: var(--alternative-color);

  }

  &:active{
    background-color: var(--main-color);
  }
  
}

#categorias .ongs-por-categoria{
  display: none;
  background-color: rgba(255, 255, 255, 0.4);
}


/*    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~   Rodapé    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~     */

:root{
  --logo1: #FF00FF;
  --logo2: #00FFFF;
  --logo3: #0600ab;
  --text-color-footer: #bacfdd;
  --tech: "Share Tech Mono", monospace;
  
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  gap: 20rem;
  background-color: var(--element-color);
  box-sizing: border-box;
  width: 100%;
}



footer .developed-by{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  color: var(--text-color-footer);
  font-family: var(--tech);

}

footer .developed-by p{
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}



footer .developed-by a{
  font-weight: 900;
  transition: all 200ms ease-in-out;
  color: var(--text-color-footer);
  
  &::before{
      content: '</ALUCINADO>';
  }

  &:hover, &:focus{
      font-family: var(--tech);
      background-image: linear-gradient(180deg,var(--logo1) 30%,  var(--logo2) 70%);
      background-clip: text;
      color: transparent;
      text-shadow: 0px 0px 10px var(--logo3);
  }
}

footer .developed-by img{
  width: 35px;
  height: 35px;
}
  
  

footer .creditos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;

}
