/*                                       Aplicação de fontes                                                                */

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
  }
.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}

.plus-jakarta-sans-conectaONGs {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.quicksand-conectaONGs {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/*                                       Estilização da página                                                                               */
:root{
  font-size: 62.5%;
}

body{
  margin: 0;
  /* border: none; */
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;

}

/*                                       Barra de navegação                                                                               */
nav{
  background-color: #ff5678;
  padding: 1em 1em 0.8em 1em;
  display: flex;
  justify-content: space-between;
}

nav .content{ 
  font-family: "Quicksand", serif;
  font-size: 2em;
  font-weight: 900;
  /* border: 5px solid blueviolet; */
  text-decoration: solid;
  /* TODO reaprender a usar grid  */
}

nav .portifolio{
  font-family: "Rubik Vinyl", serif;
  font-size: 2em;
  text-decoration: solid;
  font-weight: 600;
  margin-left: 60%;
  /* align-self: flex-end; */
}

/*                                        Explicações sobre a página                                                                               */

main{
  /* width: 100%; */
  text-align: center;
  padding: 20px 10%;
  background-color: darkkhaki;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url("images/main.jpg") ;
}

.explicacoes{
  width: 40%;
  /* border: 4px solid salmon; */
}

.explicacoes h2{
  font-family: "Plus Jakarta Sans", serif;
  font-size: 3em;
}

.explicacoes p{
  font-weight: 400;
  font-style: normal;
  font-size: 1.6em;
  text-align: justify;
}

.explicacoes .redes-ada{
  /* border: 4px solid cornflowerblue; */
  display: flex;
  justify-content: space-evenly;
}

.explicacoes .redes-ada .icone-rede-ada{
  font-size: 1.5em;
  
}

.explicacoes .redes-ada .icone-rede-ada img{
  height: 4em;
  width: 4em;
  
}
.explicacoes .redes-ada .icone-rede-ada h3{
  margin-bottom: 0.4em;
}










/* #Entidades{
  display: inline;
} */